<div class="chute-asset chute-component-loading">
  <div class="chute-previous">
    <i class="icon-angle-left"/>
  </div>
  <div class="chute-next">
    <i class="icon-angle-right"/>
  </div>
  <i class="icon-cancel chute-close"/>
  {{#if video_url}}
  <video id="chute-video-{{shortcut}}" class="video-js vjs-default-skin chute-loaded"
    controls preload="auto" width="100%" height="100%"
    poster="{{asset_url}}">
    {{#unless isYoutube}}
      <source src="{{video_url}}" type='video/mp4' />
    {{/unless}}
  </video>
  {{else}}
    <img src="{{asset_url}}" class="chute-asset-thumbnail chute-loaded" />
  {{/if}}
</div>

<div class="chute-detail">
  <div class="chute-detail-header">
    {{# if enable.avatar}}
      {{#if source.import_url}}
        <a href="{{source.import_url}}" target="_blank">
          <img src="//avatars.io/{{service}}/{{username}}" class="chute-user-avatar" />
        </a>
      {{else}}
        <img src="//avatars.io/{{service}}/{{username}}" class="chute-user-avatar" />
      {{/if}}
    {{/if}}

    <div class="chute-header-contents">
      <div class="chute-table">
        <div class="chute-table-vcenter">
          {{#if enable.username}}
            {{#if source.import_url}}
              <a href="{{source.import_url}}"
                target="_blank"
                class="chute-user-username">

                {{#if username}}{{username}}{{else}}Anonymous{{/if}}
              </a>
            {{else}}
              <span class="chute-user-username">
                {{#if username}}{{username}}{{else}}Anonymous{{/if}}
              </span>
            {{/if}}
          {{/if}}
          {{#if enable.time}}
            <p class="chute-asset-timeago">{{timeAgo created_at}}</p>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if enable.hearting}}
      <div class="chute-heart-widget{{#if hearted}} chute-hearted{{/if}}">
        <div class="chute-table">
          <div class="chute-table-vcenter">
            <i class="icon-ok-circled2"/>
            <p class="chute-inactive chute-heart-count">{{ hearts }}</p>
            <p class="chute-active">VOTE</p>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="chute-detail-footer">
    {{#if caption}}
      {{#if enable.caption}}
        <p class="chute-asset-caption">{{caption}}</p>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if enable.sharing}}
  <ul class="chute-sharing" data-chute-length="{{enable.sharing.length}}">
    {{#if enable.sharing.facebook}}
      <li class="facebook" data-chute-shareto="facebook">
        <i class="icon-facebook"/>
      </li>
    {{/if}}
    {{#if enable.sharing.twitter}}
      <li class="twitter" data-chute-shareto="twitter">
        <i class="icon-twitter"/>
      </li>
    {{/if}}
    {{#if enable.sharing.tumblr}}
      <li class="tumblr" data-chute-shareto="tumblr">
        <i class="icon-tumblr"/>
      </li>
    {{/if}}
    {{#if enable.sharing.pinterest}}
      <li class="pinterest" data-chute-shareto="pinterest">
        <i class="icon-pinterest-circled"/>
      </li>
    {{/if}}
    {{#if enable.sharing.googleplus}}
      <li class="googleplus" data-chute-shareto="googleplus">
        <i class="icon-gplus"/>
      </li>
    {{/if}}
  </ul>
{{/if}}
